@model IEnumerable<_03.Quest.Models.QuestionModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit">
    <h2>Search Results</h2>

    @Html.Partial("_Result", Model)
    <br />
    @Html.ActionLink("Back to Questions", "Index")
</div>

@section Aside {
    @Html.Partial("_Info")
}