@{
    ViewBag.Title = "Admin Main Page";
}

<div class="hero-unit">
    <h1>Main administration page</h1>
    <hr />
    <br />
    <div class="row-fluid">
        <div class="span3">
            <h2>Users Administration</h2>
            <p><a href="~/Admin/User/Index"><img src=" ~/img/Users-icon.png" alt="Administrate user role" /></a></p>
            <p>Here you can administrate user details - roles, etc.</p>
        </div>
        <div class="span3">
            <h2>Places Administration</h2>
            <p><a href="~/Admin/Place/Index"><img src=" ~/img/Places-icon.png" alt="Administrate places details" /></a></p>
            <p>Here you can administrate places details - city, category, etc.</p>
        </div>
        <div class="span3">
            <h2>Comments Administration</h2>
            <p><a href="~/Admin/Comment/Index"><img src=" ~/img/Comments-icon.png" alt="Administrate comments details" /></a></p>
            <p>Here you can administrate comments details - text, etc.</p>
        </div>
        <div class="span3">
            <h2>Pictures Administration</h2>
            <p><a href="~/Admin/Pictures/Index"><img src=" ~/img/Photos-icon.png" alt="Administrate pictures details" /></a></p>
            <p>Here you can administrate pictures details - urls, etc.</p>
        </div>
    </div>
</div>